## Junções(Join Sets):
Métodos de junção lembram muitos sobre conjuntos em matemática ([**Aula sobre Conjuntos - Khan Academy**](https://pt.khanacademy.org/math/statistics-probability/probability-library/basic-set-ops/v/intersection-and-union-of-sets))

Também lembra muito o ``JOIN`` para aqueles que sabem SQL.

#### **.union()** e **.update()**:

Une todos os itens de dois ou mais sets

Você também pode utilizar ``|`` para unir todos os itens de dois conjuntos.


<img src = "https://raw.githubusercontent.com/gabrielms-castro/dio-python-ai-backend-developer/main/img/outer_join.png">

In [1]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'c', 'a'}

In [2]:
set1 = {"d", "f", "g"}
set2 = {11, 52, "3a"}

set3 = set1 | set2
print(set3)

{'3a', 52, 'd', 11, 'g', 'f'}

``.update()`` insere os itens de um set em outro, ele não retorna um set novo

In [3]:
#utilizando .update() para atualizar o set1:
set1 = {153, "pássaro", "gaiola"}
set2 = {589, "elefante", "4aaa"}

set1.update(set2)

print(set1)

{'elefante', 'pássaro', 589, 153, 'gaiola', '4aaa'}

In [4]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1 = set1.union(set2)
print(set1)

{1, 2, 'b', 3, 'c', 'a'}

<hr>

#### **.intersection()**:

Retorna os itens que estão em ambos os sets (**valores duplicados**).

Parecido com um ``INNER JOIN`` do SQL

Você também pode utilizar ``&`` para retornar os itens que estão em ambos os conjuntos.

<img src = "https://raw.githubusercontent.com/gabrielms-castro/dio-python-ai-backend-developer/main/img/inner_join.png">

In [5]:
set1 = {"apple", "azure", "oracle"}
set2 = {"google", "microsoft", "apple","oracle"}

set3 = set1.intersection(set2)
print(set3)

{'oracle', 'apple'}

In [7]:
set1 = {"apple", "azure", "oracle"}
set2 = {"google", "microsoft", "apple","oracle"}

set3 = set1 & set2
print(set3)

{'oracle', 'apple'}

<hr>

#### **.difference()**:

Retorna os itens que estão em um set, mas não estão em outro.

Você também pode utilizar ``-`` para retornar os itens que estão em um set, mas não estão em outro.

<img src = "https://raw.githubusercontent.com/gabrielms-castro/dio-python-ai-backend-developer/main/img/difference.png">

In [3]:
A = {1,2,3,4}
B = {1,3,4,5,6}
C = B.difference(A)
print(C)

{5, 6}

In [10]:
set1 = {"apple", "azure", "oracle"}
set2 = {"google", "microsoft", "apple","oracle"}

set3 = set1.difference(set2)

set4 = set2.difference(set1)

print("Itens que estão no set1, mas não no set2: ",set3)
print("Itens que estão no set2, mas não no set1: ",set4)

Itens que estão no set1, mas não no set2:  {'azure'}
Itens que estão no set2, mas não no set1:  {'google', 'microsoft'}

<hr>

#### **.symmetric_difference()**:

Retorna apenas os itens únicos de cada set. Parecido com um ``OUTER JOIN`` em SQL

Você também pode utilizar ``^``.

<img src = "https://raw.githubusercontent.com/gabrielms-castro/dio-python-ai-backend-developer/main/img/outer_exclude_join.png">

In [12]:
set1 = {"apple", "azure", "oracle"}
set2 = {"google", "microsoft", "apple","oracle"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'azure', 'microsoft'}

Para conhecer mais métodos da classe ``set``, acesse os seguintes links:

[W3Schools - Sets](https://www.w3schools.com/python/python_sets_methods.asp)

[GeeksforGeeks - Sets](https://www.geeksforgeeks.org/python-set-methods/)




[Slide DIO](https://academiapme-my.sharepoint.com/:p:/g/personal/nubia_dio_me/EWxVjZ3N_-5OmGYkDrdEQkoB0NuroEV5wvMavMOA9-nI2Q?rtime=SeeJZfZm3Eg)